#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-size: cover;
  background: linear-gradient(120deg, #007bff,#d0314c);
  height: 87vh;
}
.d{
  background-color: white;
  width: 400px;
  height: 340px;
  margin-top: 12%;
  margin-left: 38%;
}
.re{
  background-color: white;
  width: 400px;
  height: 400px;
  margin-top: 10%;
  margin-left: 38%;
}
h1{
  margin-top: 40px;
}
.user{
  margin-top: 20px;
}
.user input{
  width: 200px;
   height: 25px;
   border-radius: 10px;
}

.pass{
  margin-top: 20px;

}

.pass input{
  border-radius: 10px;
   width: 200px;
   height: 25px;
}

button{
  margin-top: 10px;
  font-size: larger;
  width: 200px;
   height: 30px;
  border-radius: 10px;
  background-color: rgb(85, 154, 182);
  color:white;
}
